#color-palette-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.color-box {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
